/* 基础样式 */
#outputHtml {
  color: rgb(85, 85, 85);
  margin: 10px;
  line-height: 28px;
  letter-spacing: 1px;
  font-size: 15px;

}
#outputHtml h1 {
  font-size: 20px;
  margin: 10px;
  font-weight: bold;
  color: rgb(62, 62, 62);
  line-height: 25.6px;
}
#outputHtml h2, #outputHtml h3, #outputHtml h4, #outputHtml h5, #outputHtml h6{
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
  color: rgb(62, 62, 62);
  line-height: 25.6px;
}

h1 ~ * {
  margin-left: 10px;
}

/* 标题样式 */
.heading-order.h1 p{
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 41, 41);
  line-height: 25.6px;
}

.heading-order.h1 .heading-border {
  margin-top: 14px;
  margin-left: -10px;
  margin-bottom: 10px;
  width: 100%;
  height: 10px;
  background: rgb(247, 156, 156);
  border-left: 30px solid rgb(255, 41, 41);
}

.heading-order.h2 p,
.heading-order.h3 p,
.heading-order.h4 p,
.heading-order.h5 p,
.heading-order.h6 p {
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
  color: rgb(255, 114, 47);
  line-height: 25.6px;
}

.heading-order.h2 .heading-border,
.heading-order.h3 .heading-border,
.heading-order.h4 .heading-border,
.heading-order.h5 .heading-border,
.heading-order.h6 .heading-border {
  margin-top: 14px;
  margin-left: -10px;
  margin-bottom: 10px;
  width: 100%;
  height: 5px;
  background: rgb(247, 213, 171);
  border-left: 60px solid rgb(255, 114, 47);
}

.heading-order.h3 p,
.heading-order.h4 p,
.heading-order.h5 p,
.heading-order.h6 p {
  color: rgb(78, 16, 178);
  line-height: 25.6px;
}

.heading-order.h3 .heading-border,
.heading-order.h4 .heading-border,
.heading-order.h5 .heading-border,
.heading-order.h6 .heading-border {
  background: rgb(218, 171, 247);
  border-left: 60px solid rgb(78, 16, 178);
}

/* 列表样式 */
blockquote.kenengba-list {
  line-height: 25px;
  margin-left: 20px;
  background: white;
  padding: 10px 10px;
  border-left: 5px solid rgb(255, 114, 47);
  border-right: none;
}

.kenengba-list ul {
  list-style-type: circle !important;
}
.kenengba-list ul li {
  color: rgb(255, 114, 47);
  padding-left: 5px;
}
.kenengba-list ol li {
  color: rgb(255, 114, 47);
  padding-left: 5px;
}

/* 一级引用样式 */
.kenengba-wrapper {
  clear: both;
}

.kenengba-before {
  float: right;
  width: 60px;
  height: 45px;
  background-image: url(http://orsvme5pp.bkt.clouddn.com/_image/wechat-css-before.png);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.kenengba-content {
  clear: both;
  padding: 0 35px;
  color: rgb(30, 20, 20);
  line-height: 32px;
  font-size: 18px;
}
.kenengba-after {
  width: 60px;
  height: 45px;
  background-image: url(http://orsvme5pp.bkt.clouddn.com/_image/wechat-css-after.png);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 70%;
}

/* 二级引用样式 */
section.kenengba-blockquote, blockquote {
  color: rgb(85, 85, 85);
  padding: 10px 15px;
  border-left: 10px solid rgb(247, 156, 156);
  border-right: 2px solid rgb(247,156,156);
  background: #ffe9dc;
}