<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,height=device-height,initial-scale=1,user-scalable=0">
  <meta name="description" content="Markdown转换工具">
  <title>在线Markdown转换工具</title>
  <link rel="stylesheet" href="./codeThemes/github-v2.css" id="codeThemeId"/>
  <link rel="stylesheet" id="pageThemeId"/>
</head>

<body>
  <div class="github-btn">
    <iframe allowtransparency="true" frameborder="0" scrolling="0" width="90px" height="20px" class="github-star" src="http://ghbtns.com/github-btn.html?user=dyc87112&amp;repo=online-markdown&amp;type=watch&amp;count=true&amp;size=middle"></iframe>
  </div>

  <!--编辑-->
  <textarea id="input" spellcheck="false"></textarea>

  <!--预览-->
  <div id="output" class="themes-config">
    <div class="theme-wrapper">
      <label>页面主题</label>
      <select class="page-theme"></select>
      <label style="margin-left:10px;">代码主题</label>
      <select class="code-theme"></select>
    </div>

    <button class="copy-button" data-clipboard-action="copy" data-clipboard-target="#outputHtml">复制</button>

    <div class="wrapper" id="outputHtml"></div>
  </div>
</body>

</html>
